html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	position: relative;
	/*font-family: 'Quicksand', sans-serif !important;*/
}

div.controles{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}
div.ruta{
	background-color: #818DBE;
	padding: 5px 10px;
	width: 100%;
	/*height: 40px;*/
	color: white;
}
p{
	margin: 1px 5px;
}
.direccion{
	width: 30%;
}
.contenedor-menu{ 
	display: inline-block;
	width: 92%;
	background-color: white;
}
.contenedor-menu img {
	min-width: 35px;
}

/*#menu-transporte img{ position: absolute;}*/
.menu-layouts{
	position: absolute;
	left: 2.5%;
	margin: 0;
	/*width: 40px;*/
	background-color: white;
}
.lista-layouts{
	max-width: 40px;
	list-style: none;
}
.lista-layouts img{ 
	max-width: 40px;
}

input.inputRuta{
	/*min-width: 300px;*/
	width: 80%;
}
div.log img{
	width: 13%;
	left: 9%;
	min-width: 150px;
	position: absolute;
	top: 96%;
}